<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hazelcast <%= @manifest.title or @title %> Version: <%= @manifest.options.version %></title>

    <link type="text/css" rel="stylesheet" href="<%= @baseUrl %>assets/css/reset.css">
    <link type="text/css" rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/<%= @manifest.options.codeHighlightTheme || 'github' %>.min.css">
    <link type="text/css" rel="stylesheet" href="<%= @baseUrl %>assets/css/docs.css">
    <link type="text/css" rel="stylesheet" href="<%= @baseUrl %>assets/css/print.css" media="print">
    <% if @manifest.options.css: %><link type="text/css" rel="stylesheet" href="<%- @manifest.options.css %>"><% end %>

    <script type="text/javascript" src="<%= @baseUrl %>assets/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/jquery.sticky-kit.js"></script>
<!--    <script type="text/javascript" src="<%= @baseUrl %>assets/js/jquery.tocify/libs/jqueryui/jquery-ui-1.9.1.custom.min.js"></script>-->
<!--    <script type="text/javascript" src="<%= @baseUrl %>assets/js/jquery.tocify/src/javascripts/jquery.tocify.min.js"></script>-->
    <script type="text/javascript" src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/lunr.min.js"></script>
    
    <% if @manifest.options.embedly: %>
        <script type="text/javascript" src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
        <script type="text/javascript" src="<%= @baseUrl %>assets/js/embed.js"></script> 
    <% end %>
    <script type="text/javascript">var BASE_URL = "<%= @baseUrl %>";</script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/viewer.js"></script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/stick-in-parent.js"></script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/toc.scroll.js"></script>
    <script type="text/javascript" src="<%= @baseUrl %>assets/js/google-analytics.js"></script>
<!--    <script type="text/javascript" src="<%= @baseUrl %>assets/js/crazy-egg.js"></script>-->
<!--    <script type="text/javascript" src="<%= @baseUrl %>assets/js/feedback-form.js"></script>-->


</head>
<body>
	<div id="page">
		<a name="top" />
		<div id="sitebar">
			<div class="content">
				<p><a href="http://hazelcast.org/documentation">Go to <span style="font-weight:bold">hazelcast.org/documentation</span></a></p>
			</div>
		</div>
	<header id="header">
		<div class="content">
			<div style="overflow:hidden">
				<div style="float:left">
					<a href="http://www.hazelcast.org"><img src="<%= @baseUrl %>assets/img/logo.png" style="width: 199px;padding-top: 18px"/></a>
				</div>	
				<div style="float:left;padding-top: 15px;padding-left: 30px;">
					<h1><a href="<%= @baseUrl %>"><%= @manifest.title or @title %> <span style="font-size:12px"> Version: <%= @manifest.options.version %> - Publication Date : <%= @manifest.options.date %> </span></a></h1>
				</div>
			</div>
		</div>
	</header>
	<div class="content">
		<%- @include "_sidebar.html" %>
		<div id="content">
			<%- @content %>
<!--			<div id="hz-feedback">
				<div id="contact-thankyou" style="display: none;">
					Thank you.  We have received your feedback.
				</div>
				<div id="hz-form">
					<form id="hz-contactform" action="#" method="post">
						
						<a id="hz-sendusfixbutton" href="https://github.com/hazelcast/hazelcast-reference-manual/issues/new" target="_blank">
							Send us a fix!
						</a> 
					</form>
				</div>
				<div id="hz-img-control"></div>
			</div>-->
		</div>
	</div>		
    </div>
</body>
</html>
